@import '../../styles/theme.less';

.chatwrap {
    display: flex;
    align-items: center;
    // justify-content: center;
    width: 100%;
    height: 100%;
    column-gap: 2rem;
    padding: 1rem;
    
    // overflow-y: hidden;
}

// @media (max-width: 1260px) {
//     .chatwrap {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 100%;
//         height: 100%;
//         overflow-x: scroll; /* 启用横向滚动条 */
//         white-space: nowrap; /* 防止内容换行 */
//     }
// }
// @media (min-width: 1260px) {
//     .chatwrap {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 100%;
//         height: 100%;
//     }
// }

.chatContainer {
    box-sizing: border-box;
    // margin: 1rem;
    // margin: 1%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 0.1rem 0.9rem 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    position: relative;
    
    flex-grow: 1;
    flex-shrink: 0;
}

.wrap {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2vh;
    .chatContainer {
        // flex: 0 0;
        flex-grow: 0;
        flex-shrink: 0;
        height: 39vh;
        width: calc(50% - 1rem);
    }
}

.no-wrap {
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    .chatContainer {
        // width: 100%;
        min-width: 10%;
        width: 340px;
        height: 100%;
    }
}

.no-wrap::-webkit-scrollbar-thumb {
    border-radius: 90px;
    background: #ffffff0e;
}
.no-wrap::-webkit-scrollbar-track{
    border-radius: 90px;
    background: transparent;
    opacity: 0;
}
.no-wrap::-webkit-scrollbar{
    width: 9px;
    height: 9px;
    background: transparent;
}

.chat-box-wrap {
    width: 100%;
    height: 100%;
}

.pause::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
    z-index: 999;
}

.banner {
    display: flex;
    // width: 796px;
    padding: 4px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    background: @primary;
}

.main {
    display: flex;
    position: relative;
    // flex: 1;
    // width: 796px;
    width: 100%;
    height: 90%;
    // height: cal(80vh - 55px);
    // padding-top: 12px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    color: #fff;
    text-align: justify;
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: PingFang SC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
