.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  height: 100%;
}

.content {
  margin-top: 64px;
  width: 100%;
  height: 100%;
}

.sider {
  background: rgba(76, 143, 112, 1);
  height: 100%;
  min-height: 800px;
  box-shadow: -1px 6px 30px 0px rgba(18, 19, 22, 0.12);
}

.main {
  background: linear-gradient(117.2deg, #518673 10.6%, #41464A 90.8%);
  height: 100%;
  min-height: 800px;
}
.logo{
  color: #FFFFFFD9;
  font-family: ".New York";
  font-size: 30px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: center;
}