@import '@/styles/theme.less';

.wrapper {
    height: 100%;
  }
  
  .sider {
    background: @primary;
    height: 100%;
    min-height: 800px;
  }
  
  .logo{
    color: #FFFFFFD9;
    font-family: ".New York";
    font-size: 30px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0px;
    text-align: center;
  }
  
  .row {
    height: 100%;
  }
  
  .main {
    background: @background-gradient;
    height: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .mode {
    margin-right: 5%;
  }
  
  .content {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  .footer {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 30px;
  }
  
  