.ant-btn{
    color: red;
}
.ant-modal-header {
    background-color: wheat;
}
.radio {
    :global {
        .ant-radio-button-wrapper {
            color: black;
        }
        .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:hover{
            color: pink;
        }
    }
}