@font-face {
  font-family: "iconfont"; /* Project id 4035487 */
  src: url('iconfont.woff2?t=1682334913883') format('woff2'),
       url('iconfont.woff?t=1682334913883') format('woff'),
       url('iconfont.ttf?t=1682334913883') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cangpeitubiao_xiazaipandiandanxiazaidayinmoban:before {
  content: "\e623";
}

.icon-fasong:before {
  content: "\e604";
}

.icon-qingkong:before {
  content: "\e946";
}

