@green-background-gradient: linear-gradient(117.2deg, #518673 10.6%, #41464A 90.8%);
@green-primary: #4c8f70;

@orange-background-gradient: linear-gradient(117.2deg, #828651 10.6%, #41464A 90.8%);
@orange-primary: #9a9a4c;

@blue-background-gradient: linear-gradient(117.2deg, #516e86 10.6%, #41464A 90.8%);
@blue-primary: #598aa0;

@background-gradient: @green-background-gradient;
@primary: @green-primary;
