.input {
    width: 90%;
    height: 60%;
    display: flex;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.icon {
    object-fit: cover; /* 让图标填充整个区域并保持其宽高比 */
    background: transparent
}
.wrapper {
    width: 66%;
    height: 80%;
    display: flex;
    align-items: center;
}