.input {
    width: 90%;
    background: rgba(255, 255, 255, 0.06);
}
.icon {
    object-fit: cover; /* 让图标填充整个区域并保持其宽高比 */
    background: rgba(255, 255, 255, 0.85); 
}
.wrapper {
    width: 66%;
    display: flex;
    align-items: center;
}